<ion-header>
  <app-header pageTitle="Departments"></app-header>
</ion-header>

<ion-content>
  <div id="container">
    <tat-firestore-list
      [tableName]="'departments'"
      [title]="'Department'"
      [titlePlural]="'Departments'"
      [jsonFormData]="departmentForm"
      [deleteCallback]="deleteCallback"
      [listItemTemplate]="departmentItemTemplate"
    ></tat-firestore-list>
  </div>

</ion-content>

<ng-template #departmentItemTemplate let-item="item">
  <!-- <ion-popover [trigger]="'open-image-preview-button'+item['id']">
    <ng-template>
      <ion-content>
        <ion-card>
          <ion-card-content>
            <img [src]="item['image']" *ngIf="item['image']" />
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-popover>
  <ion-avatar slot="start" [id]="'open-image-preview-button'+item['id']">
    <img [src]="item['image']" />
  </ion-avatar> -->
  <ion-label>
    <h2>{{ item['name']}}</h2>
    <h3>{{ item['description']}}</h3>
  </ion-label>
</ng-template>
