<ion-header>
  <app-header pageTitle="Departments"></app-header>
</ion-header>

<ion-content>
  <div id="container">
    <tat-firestore-list
      [tableName]="'departments'"
      [title]="'Department'"
      [titlePlural]="'Departments'"
      [jsonFormData]="departmentForm"
      [deleteCallback]="deleteCallback"
      [listItemTemplate]="departmentItemTemplate"
    ></tat-firestore-list>
  </div>

</ion-content>

<ng-template #departmentItemTemplate let-item="item">
  <ion-avatar slot="start">
    <img [src]="item['image']" />
  </ion-avatar>
  <ion-label>
    <h2>{{ item['name']}}</h2>
    <h3>{{ item['description']}}</h3>
  </ion-label>
</ng-template>
