<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <tat-json-form [jsonFormData]="jsonFormData"></tat-json-form> -->

  <div id="container">
    <tat-firestore-list
      [jsonFormData]="useForm"
      [listItemTemplate]="userItemTemplate"
    ></tat-firestore-list>
  </div>
</ion-content>

<ng-template #userItemTemplate let-item="item">
  <ion-label>
    <ion-text color="danger">
      <h2>{{ item['name']}}</h2>
    </ion-text>
    <ion-text color="success">
      <h3>{{ item['price']}}</h3>
    </ion-text>
  </ion-label>
</ng-template>
